<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (user) { %>
      <pre>
        User: <%= user %>
        Pass: <%= pass %>
      </pre>
    <% } %>

    <form method="POST">
      <p>User: <input type="text" name="user" /></p>
      <p>Pass: <input type="password" name="pass" /></p>
      <p><input type="submit" /></p>      
    </form>
  </body>
</html>
