<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      p {
        display: flex;
      }

      span {
        width: 10vw;
      }

      input[type=submit] {
       align-self: flex-end;        
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (user) { %>
      <pre>
        User: <%= user %>
        Pass: <%= pass %>
      </pre>
    <% } %>

    <form method="POST">
      <p><span>User:</span><input type="text" name="user" /></p>
      <p><span>Pass: </span><input type="password" name="pass" /></p>
      <p><input type="submit" /></p>      
    </form>
  </body>
</html>
